<?xml version="1.0"?>
<!--
Version:  2017.07.31
Authors:  Members of the Team NAIST-Panasonic at the Amazon Robotics Challenge 2017
          Gustavo A. Garcia R. garcia-g at is.naist.jp (Captain), 
          Lotfi El Hafi, Felix von Drigalski, Wataru Yamazaki, Viktor Hoerig, Arnaud Delmotte, 
          Akishige Yuguchi, Marcus Gall, Chika Shiogama, Kenta Toyoshima, Pedro Uriguen, 
          Rodrigo Elizalde, Masaki Yamamoto, Yasunao Okazaki, Kazuo Inoue, Katsuhiko Asai, 
          Ryutaro Futakuchi, Seigo Okada, Yusuke Kato, and Pin-Chu Yang
*******************
Copyright 2017 Team NAIST-Panasonic 
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at 
    http://www.apache.org/licenses/LICENSE-2.0 
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*******************
-->

<launch>
  <include file="$(find realsense_camera)/launch/sr300_nodelet_rgbd.launch"/>

  <node name="darkflow" pkg="yolo_light" type="darkflow.py" output="screen"/>
  <node name="tnp_yolo_manager" pkg="tnp_deep_vision" type="tnp_deep_vision_yolo_manager" output="screen"/>

  <node pkg="phoxi_camera" type="phoxi_camera" name="phoxi_camera" output="screen"/>
  <node pkg="phoxi_camera" type="tnp_phoxi_camera_trigger.py" name="tnp_phoxi_camera_trigger" output="screen"/>

  <node pkg="tnp_simple_state_machine" type="tnp_simple_state_machine" name="tnp_simple_state_machine" output="screen"/>

  <node name="tnp_monitor" pkg="tnp_monitor" type="tnp_monitor" launch-prefix="gdb -ex run --args" output="screen"/>

</launch>
