<?xml version="1.0"?>
<!--
Version:  2017.07.31
Authors:  Members of the Team NAIST-Panasonic at the Amazon Robotics Challenge 2017
          Gustavo A. Garcia R. garcia-g at is.naist.jp (Captain), 
          Lotfi El Hafi, Felix von Drigalski, Wataru Yamazaki, Viktor Hoerig, Arnaud Delmotte, 
          Akishige Yuguchi, Marcus Gall, Chika Shiogama, Kenta Toyoshima, Pedro Uriguen, 
          Rodrigo Elizalde, Masaki Yamamoto, Yasunao Okazaki, Kazuo Inoue, Katsuhiko Asai, 
          Ryutaro Futakuchi, Seigo Okada, Yusuke Kato, and Pin-Chu Yang
*******************
Copyright 2017 Team NAIST-Panasonic 
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at 
    http://www.apache.org/licenses/LICENSE-2.0 
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*******************
-->

<launch>
  <arg name="arduino_dev" default=""/>
  <arg name="arduino_shutters" default=""/>

   <!--
   If we can access to /dev/serial, please pass
   arduino_dev:=/dev/serial/by-id/usb-Arduino__www.arduino.org__Arduino_Due_Prog._Port_XXXXXXXXXXXXXXX-if00
   If Arduino is connected to /dev/ttyACM0, please pass
   arduino_dev:=/dev/ttyACMX
  -->

  <group ns="tnp_arduino">
    <node pkg="tnp_serial_com" name="serial_node" type="serial_com_node.py" args="$(arg arduino_dev) 115200"/>
  </group>

  <node pkg="tnp_serial_com" name="serial_node" type="always_status_publisher.py"/>

  <group ns="tnp_arduino_shutters">
    <node pkg="tnp_serial_com" name="serial_node" type="serial_com_node.py" args="$(arg arduino_shutters) 115200"/>
  </group>

</launch>



